#app {
    min-height: 100vh;
    background-color: #b4b4b4;
    /* width: 100vw; */
}

#pg-header,
#dropdown,
#pg-footer {
    color: #e5e5e5;
    background-color: #14213d;
}

#dropdown {
    border: 1px solid #e5e5e5;
}

#pg-header a {
    color: #e5e5e5;
}

#dropdown [class="dropdown-item"]:hover {
    color: #14213d;
}

#main-show {
    background-image: url(https://cdn.pixabay.com/photo/2020/02/22/08/39/web-4869856_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    font-size: 7em;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #14213d;
    background-color: #b4b4b4bb;
}

#main:hover {
    /* color: #bf4040; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}
a {
    color: black;
}

h3 {
    color: black;
}

.home-icon {
    margin-bottom: 0.4em;
    margin-right: 0.2em;
}

#videos-header {
    font-size: 2em;
    padding: 0.7em 0em;
}

#profile-card {
    height: fit-content;
}

#profile-card img {
    width: 6em;
    height: 6em;
}

#profile-card h2 {
    width: fit-content;
    font-size: 1.2em;
}

@media screen and (max-width: 650px) {
    #up-vid-link {
        display: block;
    }
    #up-vid-action {
        border-top: none;
    }

    #profile-card h2 {
        font-size: 95%;
    }
    #profile-card span {
        font-size: 75%;
    }
}

@media screen and (max-width: 1180px) {
    #main {
        font-size: 5em;
    }
}

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
